/* style unique to the index.html page */    


img {  
    float: left;
     
}

/* gap between medium (768px) and 640px */ 
/* img doesn't float due to reset.css   */

@media screen and (max-width: 767px) {
    /* The body's bg color will be #333 */
    #biopic {
      float: left; 
      margin: 0px 20px 20px 0px; 
    }

    /* override bootstraps max-width */
    #headerbar {
        max-width: 767px;
    }

}

   @media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    #biopic {
      width: 100%; 
      align: 
    }


}

