/* style unique to the index.html page */    


img { 
     
}

   @media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    #biopic {
      width: 100%; 
      align: 
    }

    #tab { 
        width: 100%; 
        margin-left: 0!important;
    }

    #headerarea {
        height: 20%; 
    }
}

