/* style unique to the index.html page */    

#bio { 
    float: left;
}

img { 
     
}

 /*
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`
   */

   @media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    img {
      width: auto; 
    }

    #tab { 
        width: 100%; 
        margin-left: 0!important;
    }

    #headerarea {
        height: 20%; 
    }
}

