#gallery { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

 

.projLabelBox { 
    position: relative;
    padding: 0px;
    bottom: 50px; 
    color: white;
    background-color: #4aaaa5; 
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
    padding: 0px;
    height: 3rem; 
    width: 100%;
    text-align: center;
}

.projimage {
    height: 100%;
}


 img {   
    height: 250px;
    width: 350px; 
    margin: 0px ; 
 }